<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="shortcut icon" href="/images/twodlogo.jpg" type="image/x-icon">
  <meta name="keywords" content="2D for Ma Htet" />
  <meta name="description" content="Just Testing 2D" />
  <meta name="author" content="OKS" />
  <title><%= title %></title>

  <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css" />
  <link href="assets/css/font-awesome.min.css" rel="stylesheet" />
  <link href="assets/css/style.css" rel="stylesheet" />
  <link href="assets/css/responsive.css" rel="stylesheet" />
  <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
  <header class="header_section">
    <div class="container-fluid ml-3">
      <nav class="navbar navbar-expand-lg custom_nav-container justify-content-center ml-5">
        <a class="navbar-brand" href="/">
          <img src="/images/logo.png" width="200px" height="100px" alt="logo">
        </a>
      </nav>
    </div>
  </header>

  <section class="slider_section position-relative">
    <div class="slider_bg_box">
      <img src="/images/mahtet.jpg" alt="">
    </div>
    <div class="slider_bg"></div>
    <div class="container">
      <div class="col-md-9 col-lg-8">
        <div class="detail-box">
          <br><br>
          <form>
            <input type="date" id="date" name="date" placeholder="<%= query.date || 'YYYY-MM-DD' %>" value="<%= query.date || '' %>">
            <input type="submit" value="Search" value="<%= query.date || '' %>">
            <a href="/">Refresh</a>
          </form>
          <div class="pt-5">
            <% if (data.length > 0) { %>
            <% for (let i = 0; i < data.length; i++) { %>
            <h2><%= data[i].date %></h2>
            <table>
              <tr class="text-primary">
                <th>အချိန်</th>
                <th>ပေါက်ဂဏန်း</th>
              </tr>

              <% for (let j = 0; j < data[i].child.length; j++) { %>
              <tr>
                <td><%= data[i].child[j].time %></td>
                <td><%= data[i].child[j].twod %></td>
              </tr>
              <% } %>

            </table>
            <br>
            <h2>Good Luck Ma Htet &#128514;</h2>
            <% } %>
            <% } else { %>
            <div>
              <br><br><br><br>
              <span class="text-white">2D ပေါက်ချိန် မရောက်သေးပါ</span>
            </div>
            <% } %>
          </div>
          <br>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer_section">
    <div class="container">
      <p class="text-secondary">
        &copy; 2024 All Rights Reserved</a>
      </p>
    </div>
  </footer>
</body>

</html>